           <%- include partials/header %>


       
        <div class="container-fluid">


      <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Flag Chat Detail List</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTables" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                     <!--  <th>Id</th>
                      <th>Reason</th> -->
                      <th>Username</th>
                      <th>Message</th>
                      <th>Flag Status</th>
                      <th>Flagged By</th>
                      <th>Date</th>
<!--                       <th>Action</th>
 -->                     <!--  <th>Status</th> -->
                    </tr>
                  </thead>
                 <!--  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Position</th>
                      <th>Office</th>
                      <th>Age</th>
                      <th>Start date</th>
                      <th>Salary</th>
                    </tr>
                  </tfoot> -->
                  <tbody>
                      <% for (var i = 0; i < chatdata.length; i++) { %>
                      <tr>
                      <td><%= chatdata[i].data.userName %></td>
                      <td><%= chatdata[i].data.message %></td>
                      <td><% if(chatdata[i].data.flag[0].messageFlag == true) { %> <input id="<%= chatdata[i].ids %>" type="checkbox" class="editor-active" checked="checked"> <% } else { %><input type="checkbox" class="editor-active" id="<%= chatdata[i].ids %>"> <% } %></td>
                       <td><script type="text/javascript">
                          window.addEventListener("load", function() {
  var url_string = window.location.href; 
  var urls = new URL(url_string);
  var tokens = urls.searchParams.get("tokendata");
 document.getElementById("flagChatdetaillink"+"<%= chatdata[i].ids %>").href = "/flagChatdetail?id=<%= chatdata[i].ids %>&tokendata="+tokens;
});
                       </script><a id="flagChatdetaillink<%= chatdata[i].ids %>"><%= chatdata[i].data.flag.length %> People</a> </td>
                      <td><%= new Date(chatdata[i].data.createdDate).toLocaleDateString('en-US',{year: "numeric", month: "long", day: "numeric"}) %></td>
                      
                    </tr>
                   <% } %>
                   
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

      </div>
      <!-- End of Main Content -->

                 <%- include partials/footer %>


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

 <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>
  

  <script type="text/javascript">

    window.history.forward(); 
        function noBack() { 
            window.history.forward(); 
        } 


window.addEventListener("load", function() {

   // alert(window.location.href);

  var url_string = window.location.href; 
  var urls = new URL(url_string);
  var tokens = urls.searchParams.get("tokendata");
  // alert(tokens);

 

//  $.ajax({
//         url : "/flagData",
//         type: "POST",
//         success: function(data, textStatus, jqXHR) {

//         var datak = JSON.stringify(data);
//        var dataResult = JSON.parse(datak); 
//        // alert(dataResult);
//         var len = dataResult.length;
//           var countdataa = dataResult.filter(function(s) { return s.data.flag  });
//            $('#dataTables').dataTable( {
//             "aaData": countdataa, 
//             "columns": [
//                 { "data": "data.userName"},
//                 { "data": "data.message" },
//                 {
//                 "data":   "data.flag",
//                 render: function ( data, type, row ) {
//                    // alert(data[0].messageFlag);
//                     if ( type === 'display' ) {
//                         if(data[0].messageFlag == false){

//                         return '<input id="' + row.ids + '" type="checkbox" class="editor-active">';

//                         }else{

//                          return '<a href="/editflagData?id='+ row.ids +'&tokendata='+tokens+'"><input id="' + row.ids + '" type="checkbox" class="editor-active" checked></a>';

//                         }
//                     }
//                     return data;
//                   }
//                 },
//                 {
//                 "data":   "data.flag.length",
//                 render: function ( data, type, row ) {
//                      // alert(JSON.stringify(row));
//                     if ( type === 'display' ) {
//                         return '<a href="/flagChatdetail?id='+ row.ids +'&tokendata='+tokens+'" target="_blank">' + data + ' People</a>';
//                     }
//                     return data;
//                   }
//                 },
//                 { 
//                 "data": "data.createdDate",
//                  "name":"date",
//                  "visible":true,
//                  "title":"Date Created",
//                  "render": function(data, type, full, meta){
//                   if(type == "display"){
//                           var date = new Date(data);
//                           var options = {year: "numeric", month: "long", day: "numeric"};

//                           return date.toLocaleDateString('en-US', options);
//                   }

//                   return data;
//                 }
//                },        
//               ],
//         });
// }
// });

 }); 
 </script>
 <script type="text/javascript">
  window.addEventListener("load", function() {
  var url_string = window.location.href; 
  var urls = new URL(url_string);
  var tokens = urls.searchParams.get("tokendata");
 document.getElementById("dashboardLink").href = "/home?tokendata="+tokens;

  // alert(tokens);
   document.getElementById("HomeLink").href = "/home?tokendata="+tokens;
  document.getElementById("UserLink").href = "/userlist?tokendata="+tokens;
  // document.getElementById("UserCallLink").href = "/userlist?tokendata="+tokens;
  document.getElementById("TipLink").href = "/tipList?tokendata="+tokens;
  
   document.getElementById("CommentLink").href = "/commentlist?tokendata="+tokens;
   document.getElementById("ContactLink").href = "/contactlist?tokendata="+tokens;
  document.getElementById("CSVLink").href = "/csvlist?tokendata="+tokens;
  document.getElementById("FlagCallLink").href = "/flaglist?tokendata="+tokens;
   document.getElementById("BannerLink").href = "/banner?tokendata="+tokens;
document.getElementById("NotifyLink").href = "/notification?tokendata="+tokens;
   document.getElementById("changePassLink").href = "/changePassword?tokendata="+tokens;  
   document.getElementById("AccountLink").href = "/account?tokendata="+tokens;  
    document.getElementById("NotifyListLink").href = "/notificationlist?tokendata="+tokens;
  document.getElementById("FlagChatLink").href = "/flagChatlist?tokendata="+tokens;
    document.getElementById("WaitingLink").href = "/waitinglist?tokendata="+tokens;
     document.getElementById("StockLink").href = "/stocklist?tokendata="+tokens;

        document.getElementById("NotifyListLink").href = "/notificationlist?tokendata="+tokens;
   
    
});
</script>
<script type="text/javascript">
 $('#dataTables').on('click', 'input.editor-active', function () {

    var id = $(this).attr('id');
    alert(id);
    var table = $('#dataTables').DataTable();
    var row = table.row(this.closest('tr')).data();
    var result = confirm("Are you sure you want to unflag the comment?");
    if(result){
    var ids = id;
    // alert(ids);
    var formData = {id:ids};
       $.ajax({
        url : "/editflagData",
        type: "POST",
        data : formData,
        success: function(data, textStatus, jqXHR)
        {
            //data - response from server
            var datak = JSON.stringify(data);
            var dataResultp = JSON.parse(datak); 
            alert("Comment Unflag Sucessfully !!");
            // window.location.reload();
        },
        error: function (jqXHR, textStatus, errorThrown)
        {
           alert("Not updated !!");
        }

    });
    } else {

       window.location.reload();

    }

   });
    

</script>
</body>

</html>
