           <%- include partials/header %>


       
        <div class="container-fluid">


      <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Flag Chat List</h6>
              <a id="FlagChatLinkdata">Back</a>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTables" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                     <!--  <th>Id</th>
                      <th>Reason</th> -->
                      <th>Username</th>
                      <th>Flag Reason</th>
                      <th>Flagged By</th>
                     <!--   <th>Flag Status</th> -->
                    <!--  <th>Date</th> -->
                      <!-- <th>Action</th> -->
                     <!--  <th>Status</th> -->
                    </tr>
                  </thead>
                 <!--  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Position</th>
                      <th>Office</th>
                      <th>Age</th>
                      <th>Start date</th>
                      <th>Salary</th>
                    </tr>
                  </tfoot> -->
                  <tbody>
                      <% for (var i = 0; i < flagValue.length; i++) { %>
                      <tr>
                      <th><%= username %></th>
                      <th><%= flagValue[i].messageFlagMsg %></th>
                      <th><%= flagValue[i].messageFlagedUserName %></th>
                      <!-- <th><% if(flagValue[i].messageFlag == true) { %> <input id="<%= flagid %>" type="checkbox" class="editor-active" value="<%= flagValue[i].messageFlagedUserId %>" checked="checked"> <% } else { %><input type="checkbox" class="editor-active"> <% } %></th> -->

                     <!--  <th>Age</th> -->
                    </tr>
                   <% } %>
                   
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

      </div>
      <!-- End of Main Content -->

                 <%- include partials/footer %>


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

 <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>
  

  <script type="text/javascript">

    window.history.forward(); 
        function noBack() { 
            window.history.forward(); 
        } 


// window.addEventListener("load", function() {

//    // alert(window.location.href);

//   var url_string = window.location.href; 
//   var urls = new URL(url_string);
//   var tokens = urls.searchParams.get("tokendata");
//   // alert(tokens);

  

// });

   $('#dataTables').on('click', 'input.editor-active', function () {

    var id = $(this).attr('id');
    alert(id);
    var avls = $(this).attr('value'); 
    alert(avls);
    var table = $('#dataTables').DataTable();
    var row = table.row(this.closest('tr')).data();
    var result = confirm("Are you sure you want to unflag the comment?");
    if(result){
    var ids = id;
    // alert(ids);
    var formData = {id:ids , userid : avls};
       $.ajax({
        url : "/editflagData",
        type: "POST",
        data : formData,
        success: function(data, textStatus, jqXHR)
        {
            //data - response from server
            var datak = JSON.stringify(data);
            var dataResultp = JSON.parse(datak); 
            alert("Comment Unflag Sucessfully !!");
            window.location.reload();
        },
        error: function (jqXHR, textStatus, errorThrown)
        {
           alert("Not updated !!");
        }

    });
    } else {

       window.location.reload();

    }

   });
 </script>
   <%- include partials/commonlink %>
</body>

</html>
